
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



// Paleta de cores
$blue:#037bed;
$white: #ffffff;
$black: #000000;
$gray:#f5f5f7;

// Cores do background
$bg-primary: $white;

//Cores do texto
$text-title: $black;
$text-content: $black 50%;


//Fontes
$font-primary:"Roboto", sans-serif;

//Fontes tamanhos
$font-size-title: 72px;
$font-size-subtitle: 32px;
$font-size-content: 20px;

