.brands{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      margin: 6.25rem 0;
}

.brands__content{
    width: 65rem;
    
}

.brands__content h2{
    font-size: var(--font-title);
    font-weight: bold;
     margin-top: 2.93rem;
    

}

.brands__content p{
    font-size: var(--font-text);
    margin-top: 2.93rem;
}

.brands__logos{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
     margin-top: 2.93rem;
}