@import '/assets/css/components/variables.css';


.differential{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6.25rem 0;
}

.differential__content h2{
font-size: var(--font-title);
font-weight: bold;
text-align: center;
}

.differential__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 6.25rem 0;
}

.differential__card{
    background: var(--color-grey);
    width: 19.49rem;
    height: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}