@import "/assets/css/components/variables.css";

.hero {
  background: linear-gradient(#38a7fb, #0079ec);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

.hero__content img {
    margin-top: 6.25rem;

}


.hero__content h1 {
  font-size: var(--font-title);
  font-weight: bold;
  color: var(--color-white);
  margin: 6.25rem 0 1.4rem 0;
}

.hero__content p {
  font-size: var(--font-subtitle);
  color: var(--color-white);
  width: 80%;
}

.hero__content a{
    margin-top: 1.4rem;
    margin-bottom: 6.25rem;
}