.testimonials__cards{
    height: 15rem;
    width: 22%;
    background: var(--color-grey);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--color-grey-2);
    border-radius: 1rem;
}

.testimonials__cards .comentario{
    font-size: var(--font-text);
    font-weight: bold;
}

.testimonials__cards i{
    font-size: 3rem;
    
    color: var(--color-primary);
}

.person{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.person img{
width: 3rem;
border-radius: 50%;
}

.info_person{
    
display: flex;
flex-direction: column;
gap: 0.2rem;
}

.info_person .name{
font-weight: bold;
font-size: 1.1rem;

}