
.testimonials{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
}

.testimonials__content{
    
    width: 100vw;
    

    /* Centraliza o conteúdo (título e botão) sobre o banner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    text-align: center; /* Garante que o texto do h2 fique centralizado */
}

.testimonials__img img {
    padding: 0;
    margin-top: 6.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.testimonials__video{
    margin-top: 7.25rem;
}

.testimonials__video h2{
font-size:var(--font-title);
font-weight: bold;
color: var(--color-text);
max-width: 45rem;
}

.mokup__iphone{
    margin-top: 2rem;
}