@import 'components/variables.css';
@import 'pages/hero.css';
@import 'components/btn.css';
@import 'pages/differential.css';
@import 'pages/testimonials.css';
@import 'pages/brands.css';
@import 'pages/budget.css';
@import 'pages/service__motoboy.css';



body{
font-family: var(--font-family);
}