@import 'normalize.css';
@import '../base/variables';
@import '../layout/hero';

// Estilos gerais para o corpo da página
body {
    font-family: $font-primary;
    background-color: $bg-primary;
    padding: 0;
}

// Exemplo de como estilizar a seção hero usando as variáveis
.hero-section {
    text-align: center;
}

.hero__title {
    font-size: $font-size-title;
    color: $text-title;
}