@use 'normalize.css';
@use '../base/variables';
@use '../layout/hero';
@use '../layout/services';

// Estilos gerais para o corpo da página
body {
  font-family: variables.$font-primary; // 👈 agora tem que prefixar com o namespace do arquivo
  background-color: variables.$bg-primary;
  padding: 0;
}
