@use '../base/variables';

.hero-section{
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #35a5fa, #037bed);
    display: flex;
    height: 100%;

    .hero__content{
        width: 55%;
        color: white;

        .hero__title {
            font-size: variables.$font-size-title;
            color: variables.$white; // Garante que o título seja branco
        }

        p{
            font-size: variables.$font-size-content;
        }
    }
}
